.main {
    background-color: #2f61b7;
    font-family: 'Inter', sans-serif;
    padding: 50px 10px;
    margin: 20px 0px;
}

p {
    color: rgb(23, 22, 22);
    font-size: 20px;
    text-align: center;
}